* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  padding: 10px 20px;
background-color: #274F7D;
}
img {
  max-width: 100%;
}
.grid-container > * { min-width: 0; }
.grid-container{
  display: grid;
  grid-template-columns:  1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 20px;
  row-gap: 20px;


}
.card{
  display: inline-grid;
  border: 1px solid rgb(15, 9, 41);
  background-color: #689AD3;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
}
.card:nth-child(even) {
  background-color: #FFAD73;
}
.title{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.image{
 text-align: center;
}
.image img {
  min-width: 90%;
  min-height: 90%;
}
a {
  text-decoration: none;
  color: #000;
}
.star{
  margin-right: 15px;
  text-align: center;
  font-size: clamp(12px, 1vw, 16px);
}
.text{
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}
.svg-star{
  stroke: rgb(226, 61, 105);
  stroke-width: 2px;
  stroke-dashoffset: 700;
  stroke-dasharray: 700;
  transition: stroke-dashoffset 1s ease-in-out;
}

.star:hover .svg-star {
  stroke-dashoffset: 0;
}

@media (520px <= width <= 800px) {
  .grid-container{
     grid-template-columns: 1fr 1fr;
  }
 
}
@media (0px <= width <= 520px) {
  .grid-container{
     grid-template-columns: 1fr;
  }
 
}
